@import '../../global.scss';

.intro{
    background-color: #ffffff;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 700px;
            height: 700px;
            background-color: rgb(3, 3, 51);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 90%;

            @include mobile{
                height: 50%;
            }
        }
        }
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                   font-size: 40px;
                }
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;
                @include mobile{
                    font-size: 20px;
                }
                span{
                    font-size: inherit;
                    color: crimson
                }
                .ityped-cursor{
                    animation: blink 1s infinite;
                }
                @keyframes blink{
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
            .resume{
                margin-top: 10px;
                padding: 5px 10px;
                border: none;
                background-color: darkblue;
                color: white;
                font-size: 16px;
                cursor: pointer;
                border-radius: 10px 0 10px 0;
            }       
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                }
            }
        }
        
    }
}